.perm-badge {
  position: absolute;
  top: -0.78125rem;
  margin-left: 0.3125rem;
  padding: 0.15625rem 0.46875rem 0.15625rem 0.46875rem;
  color: white;
  font-size: 70%;
  text-transform: uppercase;
  &.admin {
    background-color: $pink;
  }
  &.author {
    background-color: $blue;
  }
  &.read {
    background-color: $yellow-d1;
  }
}

.permy {
  top: -0.625rem;
  color: $white;
  &.admin {
    background-color: $pink;
  }
  &.author {
    background-color: $blue;
  }
  &.read {
    background-color: $yellow-d1;
  }
}

.user-access {
  .card-body {
    .actions {
      text-align: right;
      .btn {
        margin-left: 0.5rem;
      }
    }
  }
}
