@import './edit-block/index.scss';
@import './common/index.scss';
@import './course-import/index.scss';
@import './list-libraries/index.scss';
@import 'src/library-authoring/author-library/index.scss';
@import './library-access/index.scss';
@import './create-library/index.scss';
@import './empty-page/index.scss';

// Breadcrumbs
// todo: figure out why this var isn't working (and change it to a reasonable value)
$breadcrumb-font-size:              200px !important;
$btn-border-width:            200px !important;
$btn-font-size: 200px !important;