.library-block-wrapper {
  margin: 0;
  font-size: 0.875rem;
}

// The following to be removed when a proper interface for library authoring is fully specced out.
// This should make error messages visible in the mean time.
.library-detail-wrapper {
  .invalid-feedback {
    display: block;
    background-color: $white;
    font-size: 70%;
    border-radius: 3px;
  }
  .add-xblock-component .new-component-type .add-xblock-component-button {
    height: auto;
  }
}
