/* Adapted from:
 * edx-platform/cms/static/sass/views/_dashboard.scss
 */
.library-list-wrapper {
  margin: 0;
  font-size: 1.4rem;

  .library-list-pagination {
    margin-top: 1.5rem;
  }

  .library-list {
    border-radius: ($baseline*0.3);
    background: $white;
    padding: 0;
    margin: -($baseline/2) 0 0;
    list-style: none;

    .library-item.no-hover-bg {
      &:hover {
        background: none;
      }
    }

    .library-item {
      border: 1px solid $light-700;
      box-shadow: none;
      padding: 1.5rem 1.375rem 1.75rem;

      .pgn__card-header {
        padding: 0;
      }

      .pgn__card-header-content {
        margin-top: 0;
      }

      .pgn__card-header-title-md {
        @extend .h4;

        color: $primary-500;
      }

      .library-title {
        margin-bottom: 0.875rem;
      }

      .library-metadata {
        @extend %t-copy-sub1;

        @include transition(opacity $tmg-f1 ease-in-out 0);

        color: $gray-d2;

        .metadata-item {
          display: inline-block;

          & + .metadata-item::before {
            content: "•";
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            color: $gray-500;
          }

          .label {
            @extend %cont-text-sr;
          }
        }
      }

      &.is-processing {
        .course-status .value {
          color: $gray-l2;
        }
      }

      &.has-error {
        .course-status {
          color: $red;
        }

        ~ .status-message {
          background: $red-l1;
          color: $white;
        }
      }

      &:not(:last-child) {
        margin-bottom: ($baseline*0.4);
      }
    }
  }

  .filter-form {
    .pgn__form-label {
      font-size: 0.75rem;
      font-weight: 600;
    }

    button,
    .form-control {
      font-size: 0.75rem;
    }
  }
}
