.component-search-and-filter {
    padding: 0.3rem;
    padding-left: 0.55rem;
    padding-top: 0.6rem;
}

.content-library-search-box {
    flex-grow: 1;
}

.component-type-filter-dropdown {
    width: 275px;
    flex-grow: 0;
    flex-shrink: 0;
}