.component-search-and-filter {
    padding: 0.3rem;
    padding-left: 0.55rem;
    padding-top: 0.6rem;
}

.content-library-search-box {
    flex-grow: 1;
}

.component-type-filter-dropdown {
    width: 275px;
    flex-grow: 0;
    flex-shrink: 0;
}

.library-authoring-block-card {
    width: auto;
    margin-left: .6rem;
    margin-right: .6rem;
    margin-top: .5rem;
    margin-bottom: .8rem
}

.library-authoring-block-card-header {
    .pgn__card-header-actions {
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
    }

    .pgn__card-header-content {
        margin-top: 0.6rem;
    }
}

.library-authoring-sidebar {
    font-size: 90%;
    h3 {
      font-size: 100%;
      font-weight: bold;
    }
}

.library-blocks-pagination {
    ul.pagination {
        justify-content: center;
    }
}