.empty-sheet-wrapper {
  background: $light-200;
}

.empty-content {
  margin: 0 auto;
  text-align: center;
  padding: 3.25rem 2.5rem;
  width: flex-grid(9);
  font-size: 1.125rem;
  line-height: 1.75rem;

  .h3 {
    margin-bottom: 1rem;
  }

  .pgn__action-row {
    margin-top: 1.5rem;
    justify-content: center;

    .btn {
      box-shadow: $level-1-box-shadow;
      padding: 1.125rem 1.25rem;
      color: $primary-500;

      .pgn__icon {
        margin-right: 0.625rem;
      }
    }
  }
}
